body {
	min-height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	background-color: #161A1A;
	color: rgb(172, 177, 197);
	line-height: 1.3;
	font-size: 20px;
}

.root {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
	text-decoration-skip-ink: auto;
	color: #f0f0f0;
	position: relative;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.social-left {
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: 40px;
	right: auto;
	z-index: 10;
	color: rgb(168, 178, 209);
}

@media (max-width: 62.5em) {
	.social-left {
		right: 25px;
	}
}

@media (max-width: 48em) {
	.social-left {
		display: none;
	}
}

.social-right {
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: auto;
	right: 40px;
	z-index: 10;
	color: rgb(168, 178, 209);
}

@media (max-width: 62.5em) {
	.social-right {
		right: 25px;
	}
}

@media (max-width: 48em) {
	.social-right {
		display: none;
	}
}

.social-left ul, .social-right ul {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	padding: 0px;
	margin: 0px;
}

.social-left ul::after, .social-right ul::after {
	content: "";
	display: block;
	width: 1px;
	height: 90px;
	background-color: rgb(168, 178, 209);
	margin: 0px auto;
}

.social-left ul li, .social-right ul li {
	padding: 12px 10px;
}

/* Main Content */

.fillHeight {
	padding-top: 0px;
	padding-bottom: 0px;
}

main {
	width: 100%;
	max-width: 1600px;
	min-height: 100vh;
	counter-reset: section 0;
	padding: 200px 150px;
	margin: 0px auto;
}

/* Homepage */

.home {
	max-width: 1000px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100vh;
	margin: 0px auto;
	padding: 80px 0px;
}

@media (max-width: 48em) {
	.home {
		padding: 30px 10px;
		justify-content: start;
	}
}

.short-intro {
	color: rgb(8, 253, 216);
	font-size: 16px;
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
	font-weight: normal;
	margin: 0px 0px 20px 3px;
}

@media (max-width: 62.5em) {
	.short-intro {
		font-size: 14px;
	}
}

@media (max-width: 48em) {
	.short-intro {
		font-size: 13px;
	}
}

.name {
	font-size: 80px;
	line-height: 1.1;
	margin: 0px;
	color: #f0f0f0;
}

@media (max-width: 62.5em) {
	.name {
		font-size: 70px;
	}
}

@media (max-width: 48em) {
	.name {
		font-size: 55px;
	}
}

@media (max-width: 30em) {
	.name {
		font-size: 45px;
	}
}

.subtitle {
	font-size: 80px;
	line-height: 1.1;
	color: rgb(155, 166, 200);
}

@media (max-width: 62.5em) {
	.subtitle {
		font-size: 70px;
	}
}

@media (max-width: 48em) {
	.subtitle {
		font-size: 60px;
	}
}

@media (max-width: 30em) {
	.subtitle {
		font-size: 50px;
	}
}

.description {
	margin-top: 25px;
	width: 50%;
	max-width: 500px;
}

@media(max-width: 48em) {
	.description {
		margin-top: 10px;
	}
}

.home div {
	width: 100%;
}

.get_in_touch .btn_outline {
	display: inline-block;
	font-size: 14px;
	margin-top: 50px;
	margin-left: 0px;
	padding: 1.25rem 1.75rem;
}

@media (max-width: 48em) {
	.get_in_touch .btn_outline {
		margin-top: 20px;
	}
}

/* About Me */

.about {
	max-width: 1000px;
	position: relative;
	padding: 150px 0px;
}

.title {
	position: relative;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	white-space: nowrap;
	font-size: 32px;
	margin: 10px 0px 40px;
	text-transform: capitalize;
}

.title::before {
	counter-increment: section 1;
	content: "0" counter(section) ".";
	margin-right: 10px;
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
	font-weight: normal;
	color: rgb(8, 253, 216);
	font-size: 20px;
	position: relative;
}

.title::after {
	content: "";
	display: block;
	height: 1px;
	width: 300px;
	background-color: rgb(45, 57, 82);
	position: relative;
	margin-left: 20px;
}

.about_me_box {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: flex-start;
}

.about_me_desc {
	width: 60%;
	max-width: 480px;
}

.about_me_pic {
	position: relative;
	width: 40%;
	max-width: 300px;
	margin-left: 60px;
}

.skills {
	display: grid;
	grid-template-columns: minmax(140px, 200px) minmax(140px, 200px);
	overflow: hidden;
	padding: 0px;
	margin: 20px 0px 0px;
}

.skills li {
	position: relative;
	margin-bottom: 15px;
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
	font-size: 13px;
	color: rgb(175, 187, 226);
}

/* Projects */

.projects {
	max-width: 1000px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	flex-direction: column;
	align-items: flex-start;
	padding: 150px 0px;
}

.featured_card {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 100px;
	gap: 10px 10px;
}

.featured_card:nth-of-type(2n+1) .featured_description {
	text-align: right;
	grid-column: 7 / -1;
}

.featured_card:last-of-type {
	margin-bottom: 0px;
}

.featured_description {
	position: relative;
	grid-column: 1 / 7;
	grid-row: 1 / -1;
}

.featured_project {
	font-size: 13px;
	font-weight: normal;
	color: rgb(75, 255, 213);
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
	margin-top: 10px;
	padding-top: 0px;
}

.project_name {
	font-size: 28px;
	color: rgb(204, 214, 246);
	margin: 0px 0px 20px;
}

.project_description {
	box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
	position: relative;
	z-index: 2;
	background-color: rgba(8, 8, 8, 0.8);
	color: rgb(186, 197, 229);
	font-size: 18px;
	padding: 25px;
	border-radius: 3px;
}

.project_description p {
	margin: 0px;
}

.tech_list {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin: 25px 0px 10px;
}

.featured_card:nth-of-type(2n+1) .tech_list {
	-webkit-box-pack: end;
	justify-content: flex-end;
}

.featured_card:nth-of-type(2n+1) .tech_list li {
	margin-left: 20px;
	margin-right: 0px;
}

.tech_list li {
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
	font-size: 13px;
	color: rgb(136, 146, 176);
	margin-right: 20px;
	margin-bottom: 7px;
	white-space: nowrap;
}

.sources {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
	margin-top: 10px;
	margin-left: -10px;
	color: rgb(204, 214, 246);
}

.featured_card:nth-of-type(2n+1) .sources {
	-webkit-box-pack: end;
	justify-content: flex-end;
	margin-left: 0px;
	margin-right: -10px;
}

.sources a {
	padding: 10px;
}

.featured_card:nth-of-type(2n+1) .project_cover {
	grid-column: 1 / 8;
}

.project_cover {
	box-shadow: rgba(2, 12, 27, 0) 0px 10px 30px -15px;
	position: relative;
	z-index: 1;
	background-color: rgb(240, 255, 242);
	grid-column: 6 / -1;
	grid-row: 1 / -1;
	border-radius: 4px;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.project_cover::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 3;
	background-color: rgb(10, 25, 47);
	mix-blend-mode: screen;
}

.project_img_wrapper {
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
	position: relative;
	mix-blend-mode: multiply;
	filter: grayscale(100%) contrast(1) brightness(90%);
	border-radius: 3px;
}

.project_img_wrapper:hover, .project_img_wrapper:focus {
	filter: none !important;
	mix-blend-mode: unset;
}

.project_img_wrapper img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	/* opacity: 0; */
}

.other_projects {
	max-width: 1000px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	flex-direction: column;
	align-items: flex-start;
	margin: 0px auto;
}

.other_projects h4 {
	font-size: 32px;
	margin: 0px auto;
}

.the_archive {
	display: inline-block;
	text-decoration-skip-ink: auto;
	position: relative;
	color: rgb(8, 253, 216);
	text-align: center;
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
	font-size: 14px;
	margin: 0px auto;
}

.the_archive:hover, .the_archive:focus, .the_archive:active {
	color: rgb(8, 253, 216);
	outline: 0px;
}

.the_archive:hover::after, .the_archive:focus::after, .the_archive:active::after {
	width: 100%;
}

.the_archive::after {
	content: "";
	display: block;
	width: 0px;
	height: 1px;
	position: relative;
	bottom: 0.37em;
	background-color: rgb(8, 253, 216);
	opacity: 0.5;
}

.the_archive::after {
	bottom: 0.1em;
}

.other_projects_wrapper {
	margin-top: 50px;
}

.projects_wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	position: relative;
	gap: 15px 15px;
}

.other_project_card {
	cursor: default;
}

.card-inner {
	box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	height: 100%;
	background-color: rgba(2, 12, 27, 0.5);
	padding: 2rem 1.75rem;
	border-radius: 3px;
}

.card-header {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 10px;
}

.card-icon-left {
	color: rgb(8, 253, 216);
}
.card-icon-left a {
	top: -10px;
}

.card-icon-right {
	margin-right: -10px;
	color: rgb(168, 178, 209);
}

.external-link {
	position: relative;
	top: -10px;
	padding: 10px;
}

.other_project_name {
	font-size: 22px;
	color: rgb(204, 214, 246);
	margin: 0px 0px 10px;
}

.other-project-description {
	font-size: 17px;
	color: rgb(168, 178, 209);
}

.other_project_card .card-inner .tech_list {
	/* position: relative; */
	/* z-index: 2; */
	align-items: flex-end;
	-webkit-box-flex: 1;
	flex-grow: 1;
	margin: 20px 0px 0px;
}

.other_project_card .card-inner .tech_list li {
	font-size: 12px;
	line-height: 1.75;
	margin-right: 15px;
	/* margin-bottom: 7px; */
	/* white-space: nowrap; */
}

.show_more {
	color: rgb(8, 253, 216);
	cursor: pointer;
	background-color: transparent;
	font-size: 13px;
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
	line-height: 1;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(8, 253, 216);
	border-image: initial;
	border-radius: 3px;
	padding: 1.25rem 1.75rem;
	margin: 100px auto 0px;
}

/* Contact */

.contact {
	position: relative;
	text-align: center;
	max-width: 600px;
	padding: 150px 0px;
	margin: 0px auto 100px;
}

.contact h3 {
	position: relative;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	white-space: nowrap;
	display: block;
	color: rgb(8, 253, 216);
	font-size: 16px;
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
	font-weight: normal;
	-webkit-box-pack: center;
	justify-content: center;
	margin: 10px 0px 20px;
}

.contact h3::before {
	counter-increment: section 1;
	content: "0" counter(section) ".";
	margin-right: 10px;
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
	font-weight: normal;
	color: rgb(8, 253, 216);
	font-size: 20px;
	position: relative;
	bottom: 4px;
}

.contact h3::before {
	bottom: 0px;
	font-size: 14px;
}

.contact h4 {
	font-size: 60px;
	margin: 0px 0px 20px;
}

.contact a {
	display: inline-block;
	text-decoration-skip-ink: auto;
	position: relative;
	color: rgb(8, 253, 216);
}

.btn_get_in_touch {
	color: rgb(8, 253, 216);
	background-color: transparent;
	font-size: 14px;
	line-height: 1;
	margin-top: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(8, 253, 216);
	border-image: initial;
	border-radius: 3px;
	padding: 1.25rem 1.75rem;
}

@media(max-width) {
	.btn_get_in_touch {
		margin-top: 30px;
	}
}

/* Mobile Responsiveness */

/* Main Body */

@media (max-width: 62.5em) {
	main {
		padding: 0px 50px;
	}
}

@media (max-width: 48em) {
	main {
		padding: 0px 25px;
	}
}

@media (max-width: 30em) {
	main {
		padding: 0px 10px;
	}
}

@media (max-width: 30em) {
	body {
		font-size: 18px;
	}
}

/* About Me */

@media (max-width: 48em) {
	.about {
		padding: 50px 10px;
	}
}

@media (max-width: 62.5em) {
	.title::after {
		width: 200px;
	}
}

@media (max-width: 48em) {
	.title {
		font-size: 24px;
	}
}

@media (max-width: 48em) {
	.title::before {
		font-size: 18px;
	}
}

@media (max-width: 48em) {
	.title::after {
		width: 100%;
	}
}

@media (max-width: 48em) {
	.about_me_box {
		display: block;
	}
}

@media (max-width: 48em) {
	.about_me_desc {
		width: 100%;
	}
}

@media (max-width: 48em) {
	.about_me_pic {
		margin: 60px auto 0px;
	}
}

/* Featured Projects Section */

@media (max-width: 48em) {
	.projects {
		padding: 50px 0px;
	}
}

@media (max-width: 48em) {
	.project_name {
		font-size: 24px;
	}
}

@media (max-width: 37.5em) {
	.project_name {
		color: rgb(230, 241, 255);
	}
}

@media (max-width: 37.5em) {
	.project_description {
		background-color: transparent;
		box-shadow: none;
		padding: 20px 0px;
	}
}

@media (max-width: 37.5em) {
	.featured_description .tech_list li {
		color: rgb(204, 214, 246);
		margin-right: 10px;
	}
}

@media (max-width: 48em) {
	.featured_card:nth-of-type(2n+1) .project_cover {
		height: 100%;
	}
}

@media (max-width: 37.5em) {
	.featured_card:nth-of-type(2n+1) .project_cover {
		opacity: 0.25;
		grid-column: 1 / -1;
	}
}

@media (max-width: 48em) {
	.project_cover {
		height: 100%;
	}
}

@media (max-width: 37.5em) {
	.project_cover {
		opacity: 0.25;
		grid-column: 1 / -1;
	}
}

@media (max-width: 48em) {
	.project_img_wrapper {
		object-fit: cover;
		width: auto;
		height: 100%;
		filter: grayscale(100%) contrast(1) brightness(80%);
	}
}

@media (max-width: 37.5em) {
	.featured_card {
		margin-bottom: 70px;
	}
}

@media (max-width: 37.5em) {
	.featured_description {
		z-index: 5;
		grid-column: 1 / -1;
		padding: 40px 40px 30px;
	}
}

@media (max-width: 30em) {
	.featured_description {
		padding: 30px 25px 20px;
	}
}

@media (max-width: 37.5em) {
	.featured_card:nth-of-type(2n+1) .featured_description {
		grid-column: 1 / -1;
		padding: 40px 40px 30px;
	}
}

@media (max-width: 30em) {
	.featured_card:nth-of-type(2n+1) .featured_description {
		padding: 30px 25px 20px;
	}
}

/* Other Projects Section */

@media (max-width: 48em) {
	.other_projects {
		padding: 50px 0px;
	}
}

@media (max-width: 48em) {
	.other_projects h4 {
		font-size: 24px;
	}
}

@media (max-width: 62.5em) {
	.projects_wrapper {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}

/* Contact Section */

@media (max-width: 48em) {
	.contact {
		padding: 50px 10px;
	}
}

@media (max-width: 48em) {
	.contact h3 {
		font-size: 24px;
	}
}

@media (max-width: 62.5em) {
	.contact h3 {
		font-size: 14px;
	}
}

@media (max-width: 48em) {
	.contact h3::before {
		font-size: 18px;
	}
}

@media (max-width: 62.5em) {
	.contact h3::before {
		font-size: 13px;
	}
}

@media (max-width: 62.5em) {
	.contact h4 {
		font-size: 50px;
	}
}

@media (max-width: 48em) {
	.contact h4 {
		font-size: 40px;
	}
}