{% extends "base.html" %}
{% block css_extra%}
<link rel="stylesheet" type="text/css" href="{% asset 'blog.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="tag-list-wrapper">
        <div class="tag-list-container">
            <ul class="tag-list">
                {% for tag in tags %}
                <li class="tag-list__item">
                    <a class="tag-list__link"
                        href="/tags/">{{ tag.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="feed">
        {% for article in articles %}            
        <article class="feed__post">
            <a class="post-card" href="{% url 'article_details', article %}">
                <div class="post-card__feature-image"
                    style="background-image:url({% asset 'images/placeholder.png' %})"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Blog</span>
                        <span class="post-card__date">{{ article.published }}</span>
                    </div>
                    <h2 class="post-card__title">{{ article.title }}</h2>
                </header>
                <section class="post-card__excerpt">
                    {{ article.excerpt }}
                </section>
                <footer class="post-card__footer">
                    <img
                        src="{% asset 'favicon/android-chrome-512x512.png' %}"
                        class="post-card__profile-image" alt="{{ article.author }}">{{ article.author }}
                </footer>
            </a>
        </article>            
        {% endfor %}
        <div class="feed__archive-link">
            <a href="/archive">See more</a>
        </div>
    </div>
</div>
{% endblock %}
