{% extends "base.html" %}
{% block css_extra%}
<link rel="stylesheet" type="text/css" href="{% asset 'blog.css' %}">
{% endblock %}
{% block body %}
<div class="main">
    <div class="tag-list-wrapper">
        <div class="tag-list-container">
            <ul class="tag-list">
                <li class="tag-list__item">
                    <a class="tag-list__link" href="/tag/javascript">JavaScript</a>
                </li>
                <li class="tag-list__item">
                    <a class="tag-list__link" href="/tag/angular">Angular</a>
                </li>
                <li class="tag-list__item">
                    <a class="tag-list__link" href="/tag/typescript">TypeScript</a>
                </li>
                <li class="tag-list__item">
                    <a class="tag-list__link" href="/tag/react">React</a>
                </li>
                <li class="tag-list__item">
                    <a class="tag-list__link" href="/tag/symfony">Symfony</a>
                </li>
                <li class="tag-list__item">
                    <a class="tag-list__link" href="/tag/nodejs">Node.js</a>
                </li>
                <li class="tag-list__item">
                    <a class="tag-list__link" href="/tag/software-design">
                        Software
                        Design
                    </a>
                </li>
                <li class="tag-list__item">
                    <a class="tag-list__link" href="/tags">
                        ...
                        and more!
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="feed">
        <article class="feed__post">
            <a class="post-card" href="/the-full-circle-update/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2020/02/full-circle.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Blog</span>
                        <span class="post-card__date">03 February, 2020</span>
                    </div>
                    <h2 class="post-card__title">The full circle update</h2>
                </header>
                <section class="post-card__excerpt">
                    My latest blog update is fairly
                    small - but required a shitload of work. Not because it's so
                    fancy, but because I went for a serious case of
                    over-engineering.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card" href="/mocking-hans/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2020/01/mocking-hans.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Open Source</span>
                        <span class="post-card__date">08 January, 2020</span>
                    </div>
                    <h2 class="post-card__title">
                        Introducing Mocking Hans - An
                        open source tool for creating fake APIs
                    </h2>
                </header>
                <section class="post-card__excerpt">
                    Mocking Hans is a tool for
                    creating fake APIs, supporting multi port usage, various
                    protocols like HTTP or GraphQL and more.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card" href="/setting-up-web-projects/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/12/setup-web-projects.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Tools</span>
                        <span class="post-card__date">19 December, 2019</span>
                    </div>
                    <h2 class="post-card__title">Setting up web projects</h2>
                </header>
                <section class="post-card__excerpt">
                    Choosing the right foundation for
                    your project is an essential part of creating something
                    sustainable. Let's talk about my favorite tools and
                    conventions when it comes to setting up a new project!
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card" href="/twenty-nine/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/11/29.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Personal</span>
                        <span class="post-card__date">12 November, 2019</span>
                    </div>
                    <h2 class="post-card__title">Twenty nine</h2>
                </header>
                <section class="post-card__excerpt">
                    I've finally reached the last
                    chapter before leaving my twenties. It's been a decent year
                    with kind of a pinnacle at the end - let's take a quick look
                    back.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card" href="/multiple-http-requests-in-angular/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/09/multi-http-req.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Angular</span>
                        <span class="post-card__date">15 October, 2019</span>
                    </div>
                    <h2 class="post-card__title">
                        Multiple HTTP Requests in
                        Angular
                    </h2>
                </header>
                <section class="post-card__excerpt">
                    Quick guide on how to do multiple
                    HTTP requests in Angular - either sequentially or in
                    parallel.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card"
                href="/building-and-deploying-gatsby-sites-with-github-actions/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/10/gatsby-github-actions.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Gatsby</span>
                        <span class="post-card__date">10 October, 2019</span>
                    </div>
                    <h2 class="post-card__title">
                        Building and deploying Gatsby
                        sites with GitHub actions
                    </h2>
                </header>
                <section class="post-card__excerpt">
                    A guide on how to use GitHub
                    actions for building and deploying your static sites built
                    with Gatsby.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card" href="/software-spotlight-tmux/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/09/tmux.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Spotlight</span>
                        <span class="post-card__date">05 September, 2019</span>
                    </div>
                    <h2 class="post-card__title">Software Spotlight: tmux</h2>
                </header>
                <section class="post-card__excerpt">
                    tmux is a terminal multiplexer
                    which allows for multiple sessions, tabs and even panes
                    within the same terminal.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card"
                href="/adding-commento-to-react-apps-like-gatsby/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/09/commento-guide-1.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">React</span>
                        <span class="post-card__date">02 September, 2019</span>
                    </div>
                    <h2 class="post-card__title">
                        Adding Commento to React Apps
                        (like Gatsby)
                    </h2>
                </header>
                <section class="post-card__excerpt">
                    A quick guide on how to embed
                    Commento (or most self-hosted commenting systems) into your
                    Gatsby site / React app.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card" href="/no-more-disqus-hello-commento/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/08/commento.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Blog</span>
                        <span class="post-card__date">30 August, 2019</span>
                    </div>
                    <h2 class="post-card__title">No more Disqus; Hello Commento!</h2>
                </header>
                <section class="post-card__excerpt">
                    I've finally switched from the
                    Disqus commenting system to a self hosted Commento. Let's
                    take a look at why I've ditched Disqus and decided for
                    Commento.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card"
                href="/software-development-blogging-analytics-revenue-content-and-more/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/08/blogging.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Blog</span>
                        <span class="post-card__date">20 August, 2019</span>
                    </div>
                    <h2 class="post-card__title">
                        Software development blogging:
                        analytics, revenue, content and more
                    </h2>
                </header>
                <section class="post-card__excerpt">
                    Detailed insights about how my
                    programming blog performs, how much money it generates and
                    how I prefer to create content.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card"
                href="/software-spotlight-husky-git-hooks-made-easy/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/08/husky.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Spotlight</span>
                        <span class="post-card__date">13 August, 2019</span>
                    </div>
                    <h2 class="post-card__title">
                        Software Spotlight: Husky, git
                        hooks made easy
                    </h2>
                </header>
                <section class="post-card__excerpt">
                    Husky is a small npm package
                    which makes it easy to create and share git hooks by simply
                    adding them to your package.json.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card"
                href="/5-typescript-tips-to-improve-your-architecture/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/08/5-ts-tips-2.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">TypeScript</span>
                        <span class="post-card__date">06 August, 2019</span>
                    </div>
                    <h2 class="post-card__title">
                        5 TypeScript tips to improve
                        your applications
                    </h2>
                </header>
                <section class="post-card__excerpt">
                    TypeScript is incredibly powerful
                    and some things may not be obvious at first. Here's a list
                    of some tips which may be able to improve your architecture!
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card" href="/introducing-nehalem-a-gatsby-theme/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/07/nehalem.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">Gatsby</span>
                        <span class="post-card__date">02 August, 2019</span>
                    </div>
                    <h2 class="post-card__title">
                        Introducing Nehalem: A Gatsby
                        theme
                    </h2>
                </header>
                <section class="post-card__excerpt">
                    After
                    weeks of work it's finally done: my first Gatsby theme,
                    based on my blog - called Nehalem.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <article class="feed__post">
            <a class="post-card"
                href="/creating-a-reading-progress-bar-in-react/">
                <div class="post-card__feature-image"
                    style="background-image:url(https://ghost.nehalist.io/content/images/2019/07/react-reading-bar-1.png)"></div>
                <header class="post-card__header">
                    <div class="post-card__meta">
                        <span class="post-card__tag">React</span>
                        <span class="post-card__date">09 July, 2019</span>
                    </div>
                    <h2 class="post-card__title">
                        Creating a reading progress bar
                        in React
                    </h2>
                </header>
                <section class="post-card__excerpt">
                    How to implement a reading
                    progress bar for your posts in React.
                </section>
                <footer class="post-card__footer">
                    <img
                        src="https://ghost.nehalist.io/content/images/2019/06/me-lg.jpg"
                        class="post-card__profile-image" alt="Kevin">Kevin
                </footer>
            </a>
        </article>
        <div class="feed__archive-link">
            <a href="/archive">See more</a>
        </div>
    </div>
</div>
{% endblock %}
