<header class="navbar">
    <nav class="desktop-nav">
        <div class="brand">
            <a href="/">
                <img src="{% asset 'avatar.svg' %}" alt="avatar">
            </a>
        </div>
        <div class="menu">
            <div class="menu-inner">
                <div class="icon-menu"></div>
            </div>
        </div>
        <div class="nav-wrapper">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#about">About</a>
                </li>
                <li>
                    <a href="{% url 'blog' %}">Micro-Blog</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#projects">Projects</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#contact">Contact</a>
                </li>
            </ul>
            <div>
                <a href="{% asset 'resume.pdf' %}" class="btn_outline" rel="nofollow
                    noopener noreferrer" target="_blank">Resume</a>
            </div>
        </div>
    </nav>
    <ul class="mobile-menu">
        <li data-menuanchor="home" {% if path == '/' %}class="active" {% endif %}>
            <a rel="index" href="{% url 'index' %}" arial-label="home">
                <i class="icon-home"></i>
            </a>
        </li>
        <li data-menuanchor="about" {% if path == '/about/' %}class="active" {% endif %}>
            <a rel="about" href="{% url 'index' %}#about" arial-label="about">
                <i class="icon-user"></i>
            </a>
        </li>
        <li data-menuanchor="projects" {% if '/projects/' in path %}class="active" {% endif %}>
            <a rel="projects" href="{% url 'index' %}#projects"" arial-label=" projects">
                <i class="icon-projects"></i>
            </a>
        </li>
        <li data-menuanchor="micro-blog" {% if path == '/blog/' %}class="active" {% endif %}>
            <a rel="micro-blog" href="{% url 'blog' %}" arial-label="micro-blog">
                <i class="icon-chat"></i>
            </a>
        </li>
        <li data-menuanchor="contact" {% if path == '/contact/' %}class="active" {% endif %}>
            <a rel="contact" href="{% url 'index' %}#contact" class="" arial-label="contact">
                <i class="icon-contact"></i>
            </a>
        </li>
    </ul>
</header>