<header class="navbar">
    <nav class="desktop-nav">
        <div class="brand">
            <a href="/">
                <img src="{% asset 'avatar.svg' %}" alt="avatar">
            </a>
        </div>
        <div class="menu">
            <div class="menu-inner">
                <div class="icon-menu"></div>
            </div>
        </div>
        <div class="nav-wrapper">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#about">About</a>
                </li>
                <li>
                    <a href="{% url 'blog' %}">Micro-Blog</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#projects">Projects</a>
                </li>
                <li>
                    <a href="{% url 'index' %}#contact">Contact</a>
                </li>
            </ul>
            <div>
                <a href="{% asset 'resume.pdf' %}" class="btn_outline"
                    rel="nofollow
                    noopener noreferrer" target="_blank">Resume</a>
            </div>
        </div>
    </nav>
    <div class="mobile-menu">
        <aside>
            <nav class="mobile-nav">
                <ul>
                    <li>
                        <a href="/" class="mobile-link">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#about" class="mobile-link">About</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}" class="mobile-link">Micro-Blog</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#projects"
                            class="mobile-link">Projects</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}#contact" class="mobile-link">Contact</a>
                    </li>
                </ul>
                <a href="{% asset 'resume.pdf' %}" class="mobile-resume"
                    target="_blank"
                    rel="nofollow noopener noreferrer">Resume</a>
            </nav>
        </aside>

    </div>
</header>